<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
	
		<ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/login/login">login</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/logout">logout</a>
			  </li>
			<li class="nav-item">
			  <a class="nav-link" href="/user/create">register</a>
			</li>
		
		  </ul>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Medicine</a>
                    <div class="dropdown-menu">


                      <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                          <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Aspirin</a>
                      
                      


                        <a href="#" class="dropdown-item">liquid</a>
                        <a href="#" class="dropdown-item">solid</a>
                       </li>
                           </ul>
                      </div>

                        
                      
                      <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                          <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">peracitamal</a>
                      
                      


                        <a href="#" class="dropdown-item">liquid</a>
                        <a href="#" class="dropdown-item">solid</a>
                       </li>
                           </ul>
                      </div>


                      
                      
                        
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
  
  <div class="row">
    <% 
  medicine.forEach( function(std){ %>
 
    <div class="col-md-4">
    
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    
    <h5 class="card-title"><%= std.medicinename %></h5>
    <label > <%= std.vendorname %></label><br>
    <label > <%= std.price %> </label><br>
    <label > <%= std.quantity%></label><br>


    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  
    </div>
    <%
  }); 
  %>
  </div>
</div>
</body>
</html>